{% extends "products/base.html" %}

{% block content %}
  <main class="container auth">
    <section class="auth-card">
      <h1 class="product__title">Вход</h1>
        {% if messages or form.non_field_errors %}
            {% if messages %}
                {% for message in messages %}
                    <p class="hint" role="alert">{{ message }}</p>
                {% endfor %}
            {% else %}
                <p class="hint" role="alert">{{ form.non_field_errors }}</p>
            {% endif %}
        {% endif %}
      <form action="{% url 'users:login' %}" method="post" class="form">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }}">Логин</label>
        {{ form.username }}
        <label for="{{ form.password.id_for_label }}">Пароль</label>
        {{ form.password }}
        <label style="display:flex;align-items:center;gap:.5rem">
          <input type="checkbox" name="remember">
          <span class="hint">Запомнить меня</span>
        </label>
        <button class="btn btn--primary" type="submit">Войти</button>
        <div class="row">
          <a class="hint" href="#">Забыли пароль?</a>
          <a class="hint" href="{% url 'users:registration' %}">Создать аккаунт</a>
        </div>
      </form>
    </section>
  </main>
{% endblock %}
