{% extends "products/base.html" %}
{% load static %}

{% block content %}
    <main class="container">
        <nav class="breadcrumbs" aria-label="Навигация по сайту">
            <a href="{% url 'index' %}">Главная</a>
            <span>/</span>
            <a href="{% url 'products:index' %}">Каталог</a>
            <span>/</span>
            <span aria-current="page">{{ item.name }}</span>
        </nav>

        <section class="product">
            <div class="product__layout">
            <div class="product__gallery">
                <div class="product-card__media">
                <img class="img-cover" src="{% if item.image %} {{ item.image.url }} {% else %} {% static 'vendor/images/item_image.jpg' %} {% endif %}" alt="{{ item.name }}">
                </div>
            </div>

            <aside class="product__info">
                <h1 class="product__title">{{ item.name }}</h1>

                <div class="product__meta">
                <span class="badge">★ {{ item.rating }}</span>
                <span class="cart-item__muted">В наличии</span>
                </div>

                <div class="product__price price">{{ item.price }} ₽</div>

                <div class="product__actions">
                <form method="post" action="{% url 'products:cart_add' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value={{ item.id }}>
                        <button class="btn btn--primary btn--block" type="submit">В корзину</button>
                    </form>
                <a class="btn btn--outline" href="#">Купить в 1 клик</a>
                </div>

                <ul class="product__features">
                {{ item.description }}
                </ul>
            </aside>
            </div>
        </section>
    </main>
{% endblock %}